.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
}

.form__input {
    padding: 5px;
}

.form__button {
    background-color: teal;
    border: none;
    color: white;
    padding: 5px;
}