.section {
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    background-color: #eee;
}

.section__container {
    padding-top: 20px;
}

.section__header {
    margin-bottom: 0;
}

.information {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
}