.section {
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    background-color: white; 
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}