.section {
    margin-top: 20px;
    padding: 20px;
    width: 600px;
    background-color: #ddd;
}

.section__header {
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

.information {
    font-style: italic;
    font-size: 12px;
    margin-top: 5px;
}